/* CSS files add styling rules to your content */

html,
body {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: helvetica, arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #eeefee;
  overflow: hidden;
}

.box {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  left: 100px;
}

.colour-picker,
.trash {
  border: 3px solid white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}

.trash {
  left: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rainbow {
  transform: rotate(11deg);
  background-size: cover;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5MDAwIDgwMDAiPgogICAgPHJlY3QgZmlsbD0iI2YwM2UzZSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwMCIgeT0iMCIgeD0iMCIvPgogICAgPHJlY3QgZmlsbD0iI2ZkN2UxNCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwMCIgeT0iMTAwMCIgeD0iMCIvPgogICAgPHJlY3QgZmlsbD0iI2ZmZTA2NiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwMCIgeT0iMjAwMCIgeD0iMCIvPgogICAgPHJlY3QgZmlsbD0iIzUxY2Y2NiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwMCIgeT0iMzAwMCIgeD0iMCIvPgogICAgPHJlY3QgZmlsbD0iIzIyOGJlNiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwMCIgeT0iNDAwMCIgeD0iMCIvPgogICAgPHJlY3QgZmlsbD0iI2NjNWRlOCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwMCIgeT0iNTAwMCIgeD0iMCIvPgogICAgPHJlY3QgZmlsbD0iI2Y3ODNhYyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwMCIgeT0iNjAwMCIgeD0iMCIvPgogICAgPHJlY3QgZmlsbD0iIzg2OGU5NiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwMCIgeT0iNzAwMCIgeD0iMCIvPgo8L3N2Zz4K")
}
